<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436505627833-kctdkno1tg5gfjqc06v2h5oqp90m1tah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436505627833-kctdkno1tg5gfjqc06v2h5oqp90m1tah</string>
	<key>API_KEY</key>
	<string>AIzaSyACdr5SkllghMqJAXXqcmaieO1Z90oGf7s</string>
	<key>GCM_SENDER_ID</key>
	<string>436505627833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>best.beinmatch.beinmatch.beinmatch</string>
	<key>PROJECT_ID</key>
	<string>beinmatchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>beinmatchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436505627833:ios:4d10d1661fef721c451f68</string>
</dict>
</plist>